.DiamondKeyDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 60px;
    margin: auto;
}

.button {
    height: 30px;
    width: 70px;
    border: 2px solid rgb(133, 133, 133);
    background-color: #eee;
    border-radius: 25px;
    margin-top: 15px;
    outline: none;
    transition: background-color, .3s;
    cursor: pointer;
    color: rgba(58, 141, 209, 0.952);
    font-weight: 400;
    font-size: 14px;
}

.button:hover {
    background-color: rgb(209, 207, 207);

}